<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ngMind by rpolevoi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">ngMind</h1>
      <h2 class="project-tagline">A progressive course of ANGULAR 2 demos to master core integrated concepts before writing a word of code.</h2>
      <a href="https://github.com/rpolevoi/ngMind" class="btn">View on GitHub</a>
      <a href="https://github.com/rpolevoi/ngMind/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/rpolevoi/ngMind/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h3>
<a id="ng-mind-demos-list" class="anchor" href="#ng-mind-demos-list" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>ng-Mind DEMOS LIST</h3>

<p><a href="http://plnkr.co/edit/fxro1U998yajzgCRpdkP?p=preview"><strong>Demo #1</strong></a>
-- SIMPLEST POSSIBLE COMPONENT (STATIC)</p>

<p><a href="http://plnkr.co/edit/mL4F9xI63anMAO47FJyx?p=preview"><strong>Demo #2</strong></a>
-- SIMPLEST POSSIBLE COMPONENT (DYNAMIC)</p>

<p><a href="http://plnkr.co/edit/mHDRNAL1arq0JyLUBMcu?p=preview"><strong>Demo #3</strong></a>
-- PROPERTY BINDING (COMPONENT TO DOM)</p>

<p><a href="http://plnkr.co/edit/xQQl2krk0izdh2WN2aac?p=preview"><strong>Demo #4</strong></a>
-- EVENT BINDING (DOM TO COMPONENT)</p>

<p><a href="http://plnkr.co/edit/yIZWG63ojjvKn0aMWi9N?p=preview"><strong>Demo #5</strong></a>
-- CONDITIONAL DISPLAY WITH *ngIf DIRECTIVE</p>

<p><a href="http://plnkr.co/edit/h9ujVCEVlh8hJ4s6kfgg?p=preview"><strong>Demo #6</strong></a>
-- DISPLAYING LISTS WITH *ngFor</p>

<p><a href="http://plnkr.co/edit/vhdhAiY6lqJSmK0A4V7V?p=preview"><strong>Demo #7</strong></a>
-- SELECTING AN ITEM FROM *ngFor LIST WITH EVENT BINDING</p>

<p><a href="http://plnkr.co/edit/SQWhW568z6ko6AUDdTGr?p=preview"><strong>Demo #8</strong></a>
-- PARENT-CHILD COMPONENT HIERARCHY (SIMPLEST CASE)</p>

<p><a href="http://plnkr.co/edit/MHoeEABpPIF3g0vwDYI1?p=preview"><strong>Demo #9</strong></a>
-- PARENT-CHILD PROPERTY BINDING THRU <a href="https://github.com/Input" class="user-mention">@Input</a></p>

<p><a href="http://plnkr.co/edit/vQRyTcpLd7KuwN6HeG3i?p=preview"><strong>Demo #10</strong></a>
-- CHILD-PARENT EVENT BINDING THRU <a href="https://github.com/Output" class="user-mention">@Output</a> (EventEmitter)</p>

<p><a href="http://plnkr.co/edit/c4PArd0MXl9vuugAn7v5?p=preview"><strong>Demo #11</strong></a>
-- PARENT CALLS CHILD METHODS THRU LOCAL TEMPLATE VARIABLE (#)</p>

<p><a href="http://plnkr.co/edit/UI5OLQyT9l1jATB894fg?p=preview"><strong>Demo #12</strong></a>
-- PARENT CALLS CHILD METHOD THRU <a href="https://github.com/ViewChild" class="user-mention">@ViewChild</a></p>

<p><a href="http://plnkr.co/edit/ksdTn6wA5JGVtFDO6Vfw?p=preview"><strong>Demo #13</strong></a>
-- PROJECTING A CHILD COMPONENT</p>

<p><a href="http://plnkr.co/edit/kjhVuyHU8fQi6o8ixGW4?p=preview"><strong>Demo #14</strong></a>
-- CALLING PROJECTED CHILD COMPONENT METHODS WTIH <a href="https://github.com/ContentChild" class="user-mention">@ContentChild</a></p>

<p><a href="http://plnkr.co/edit/77OgURcyVrQuawI0o0Fq?p=preview"><strong>Demo #15</strong></a>
-- *ngFor LIST DISPLAY OF CUSTOM CHILD COMPONENTS</p>

<p><a href="http://plnkr.co/edit/SKCCu0gQ2TbZBlGChy8v?p=preview"><strong>Demo #16</strong></a>
-- INTERACTIVE SELECTION FROM CHILD COMPONENTS IN *ngFor LIST (EVENT PAYLOADS)</p>

<p><a href="http://plnkr.co/edit/3cVPFtWXtLINUoHlGYHw?p=preview"><strong>Demo #17</strong></a>
-- APPLICATION STORE, SERVICE CLASSES &amp; DEPENDENCY INJECTION (DI)</p>

<p><a href="http://plnkr.co/edit/B0BUeGa63htHQcbPTfFK?p=preview"><strong>Demo #18</strong></a>
-- RxJS SUBJECTS, OBSERVABLES &amp; DATA STREAMS (PUSHING DATA EVENTS)</p>

<p><a href="http://plnkr.co/edit/fRbQM1L5K7h3rexEbbVF?p=preview"><strong>Demo #19</strong></a>
-- TWO-WAY DATA BINDING BETWEEN COMPONENT PROPERTIES AND UI CONTROLS</p>

<p><a href="http://plnkr.co/edit/VSW2tF9CECLO6pZz5X34?p=preview"><strong>Demo #20</strong></a>
-- TEMPLATE-DRIVEN FORMS: FormsModule</p>

<p><a href="http://plnkr.co/edit/4AhcPHZCY0Nb6YpglLfu?p=preview"><strong>Demo #21</strong></a>
-- MODEL-DRIVEN FORMS: ReactiveFormsModule</p>

<p><a href="http://plnkr.co/edit/g5jOdx8GqImvx0dtVCIF?p=preview"><strong>Demo #22</strong></a>
-- INTERACTIVE ADD AND DELETE OF *ngFor LIST ITEMS</p>

<p><a href="http://plnkr.co/edit/BMMECrlR07gCFaPK06fG?p=preview"><strong>Demo #23</strong></a>
-- INTRODUCING DATABASE PERSISTENCE (MOCK FETCH SERVICE)</p>

<p><a href="http://plnkr.co/edit/pt5sZ2b7ES0XtrmurBeY?p=preview"><strong>Demo #24</strong></a>
Demo 24 -- INTRO TO ROUTING and NAVIGATION</p>

<p><a href="http://plnkr.co/edit/1eSNKvbJPmb5szxyO2h0?p=preview"><strong>Demo #25</strong></a>
-- LAZY-LOADED MODULE ROUTES</p>

<p><a href="http://plnkr.co/edit/1ANFsUPcOyrpl3cbn74R?p=preview"><strong>Demo #26</strong></a>
-- BOOT-LOADED ROUTE PLUS LAZY-LOADED ROUTE</p>

<p><a href="http://plnkr.co/edit/oGnMRhfVP04B08wOSb0t?p=preview"><strong>Demo #27</strong></a>
-- DATA STORE TO INTEGRATE ROUTED APPLICATION</p>

<p><a href="http://plnkr.co/edit/duxMpePu830kL8PWaBky?p=preview"><strong>Demo #28</strong></a>
-- USING URL PATH ROUTE PARAMETERS TO FETCH SELECTED DATA OBJECT</p>

<p><a href="http://plnkr.co/edit/NB286HulrveV7xWRpev0?p=preview"><strong>Demo #29</strong></a>
-- SUBSCRIBING TO A ROUTE.PARAMS OBSERVABLE (DATA STREAM)</p>

<p><a href="http://plnkr.co/edit/A8Ni7miNnAoFEXY1Jbge?p=preview"><strong>Demo #30</strong></a>
-- FETCHING DATA FROM MOCK HTTP RESTful "IN-MEMORY" BACKEND</p>

<p><a href="http://plnkr.co/edit/WcO6gE3CQ3FalFEhGA6T?p=preview"><strong>Demo #31</strong></a>
-- FETCHING DATA FROM FIREBASE HTTP NETWORK BACKEND (RESTful-ish)</p>

<p><a href="http://plnkr.co/edit/suHFE1wedA73zYY7LWBq?p=preview"><strong>Demo #32</strong></a>
-- FETCHING DATA FROM FIREBASE NETWORK "REAL-TIME" DATA SUBSCRIPTION (NO HTTP, NO REST API)</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/rpolevoi/ngMind">ngMind</a> is maintained by <a href="https://github.com/rpolevoi">rpolevoi</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
